
/* ----Google Fonts---- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* ----Header---- */

.header-container{
    display: flex;
    background: #161616;
    border-radius: 30px;
    justify-content: center;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}
.header-part1{
    /* height: 424px; */
    width: 50%;
    padding-top: 80px;
    padding-left: 50px;
    padding-bottom: 80px;
}
.part1-heading{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    margin:0 ;
    line-height: 60px;
}
.part1-para{
    color: #FFFFFF;
    font-size: 12px;
}
.button{
    margin-top: 30px;
}
.watch-live{
    text-decoration: none;
    color: #FFFFFF;
    background: #DD0000;
    border-radius: 5px;
    padding: 10px 24px;
    
}
.header-part2{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 50%;
}
.part2-img{
    margin: auto;
    width:323px;
    height:340px;
    transition: width 1s, height 1s, transform 1s;
}
.part2-img:hover{
    width: 343px;
    height: 360px;
    
}
/* ---main part--- */

.main-container{
    margin-top: 100px;
    display: flex;
    justify-content:space-between;
    margin-left: 40px;
    margin-right: 40px;
    

}

 .side-bar{
    width: 300px;
    height: 290px;
    background-color: #161616;
    border-radius: 20px;
   
     /* margin-left: 40px; */
    margin-right: 10px;
    
 } 
 .side-button{
   margin-left: 45px;
   margin-right: 45px;
   margin-top: 40px;
   
 }
 .button1{
    width: 200px;
    height: 40px;
    border: 1px solid gray;
    border-radius:5px;
    background-color: #DD0000;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
 }
 .button1 a{
    text-decoration: none;
    color: #FFFFFF;
    
 }
 .button2{
    width: 200px;
    height: 40px;
    border: 1px solid gray;
    border-radius:5px;
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
 }
 .button2 a{
    text-decoration: none;
    color:black;
    
 }

/* ---Blogs--- */
 .blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    place-items: center;
} 
.blog{
    /* width: 235px; */
    border: 1px solid rgb(245, 241, 241);
    
    border-radius: 10px;
}
.thumbnail img{
    width: 100%;
    height: auto;
}
.blog-details{
    margin-left: 10px;
}
.transfer{
    margin-top: 5px;
    
}
.transfer-button{
    text-decoration: none;
    color: #161616;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #161616;
    
}

.icons{
    display: flex;
    justify-content: space-around;
}

/* ---Footer--- */
.footer-container{
    background: #161616;
}
.footer-heading{
    color: #FFFFFF;
    text-align: center;
   padding-top: 30px;
}
.hr-class{
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(243, 239, 239);
    opacity: .1;
}

.nav-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;

   
    
}
.nav-list li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    
}
.nav-list li a{
    text-decoration: none;
    color: #B9B9B9;
    font-size: 14px;
}
.social-container{
    padding-bottom: 30px;
}

.social-list{
    display: flex;
    justify-content: center;
    padding: 0;
    
}

.social-list li{
    list-style: none;
}
.social-list li a{
    text-decoration: none;
    color: #B9B9B9;
    font-size: 20px;
}
/* .fa-facebook{
    margin-right: 30px;
} */
.fa-linkedin{
    margin-right: 30px;
    margin-left: 30px;
}
/* .fa-twitter{
    margin-right: 30px;
} */


/* Upcomming-Mach-Site */
.match-shedule{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.upcomming-maches{
    border: 1px solid rgb(245, 241, 241);
    border-radius: 10px;
    padding: 10px;
}
.upcomming-mache{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.flag img{
    width: 100%;
    height: auto;
}
.upcomming-mach-details{
    align-items: center;
}
.upcomming-mach-details p{
    font-size: 10px;
    text-align: center;
}
.upcomming-mach-details h3{
    margin: 0;
    text-align: center;
}
.button-show-all{
    text-decoration: none;
    color: #FFFFFF;
    background: #DD0000;
    border-radius: 5px;
    padding: 10px 24px;
    display: none;
    margin-top: 10px;
}
.button-show-all a{
   text-decoration: none;
   color:white;
   text-align: center;
   
}
/* medium device */

@media screen and (min-width:669px) and (max-width: 992px) {
    
    .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .side-bar{
        margin-bottom: 20px;
        background-color: #FFFFFF;
        width: 600px;
        height: 100px;
        margin-right: 0;
    } 
    .side-button{
        width:600px;
        display: flex;
        margin: 0;
    }
    .button1{
        margin: 5px;
    }
    .button2{
        margin: 5px;
    }
    .button-show-all{
         display:inherit;
    }
    .match-shedule{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

}
/* smaller device */
@media screen and (max-width:668px) {
    .header-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-part1{
        width: 100%;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .part1-heading{
        text-align: center;
    }

    .part1-para{
        text-align: center;
    }

    .header-part2{
        display: flex;
        align-self: center;
        justify-content: center;
        width: 100%;
    }

    .side-bar{
        margin-bottom: 20px;
        background-color: #FFFFFF;
    }

    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }

    .main-container{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-list{
        
        flex-direction: column;
        align-items: center;
    }
    .match-shedule{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    
}